%div{:id => "comment_id_#{comment.id}", :class => 'hanging_widget'}
  .comment
    .user_info
      - if comment.user
        = "On #{comment.created_at.to_date} #{comment.user.username} commented:"
    .text
      = comment.text
    .links
      = link_to_function "x", "delete_comment('#{comment.id}')"


:javascript

  function delete_comment(c_id){
    url = '/comments/remote_destroy'
    data = {id: c_id}
    var callback = function (data, textStatus) {
      $('#comment_id_' + c_id).animate({
        width: "0%",
        marginLeft: "50%",
        fontSize: "0px",
        opacity: 0
      }, 800 )
      setTimeout(function(){$('#comment_id_' + c_id).hide()}, 800)

    };
    jQuery.get( url, data, callback, 'html' );
  };
