#users_index
  .hanging_widget
    = link_to_function 'New User', "toggeler('new_user_link', 'foo', 'create_user', 'New User', 'Cancel')", :id => 'new_user_link'
    #create_user{:style => 'display:none;'}
      = render :partial => 'form', :locals => {:user => User.new }
  .clear

  .centered
    -@users.each do |user|
      .left{:style => 'width:50%'}
        .widget
          = user.username
          = user.email
          = link_to 'Show', user_path(user)
          = link_to 'Destroy', user_path(user), :method => :delete
      .left.with_margin
        .widget
          .info_text Projects
          .clear
          - user.projects.each do |project|
            = project.name
            .clear
      .clear
