#welcome_page
  - if current_user
    .centered
      .edged_widget
        .inline.title Current Projects
        .inline.small= link_to "manage", projects_path
        %ul
          - current_user.active_projects.each do |project|
            %li
              %a{:href => "projects/#{project.id}/active"}
                .project_list_item
                  = project.name
                  .inline.small= "#{project.tickets.count} Tickets"
        .right= link_to_function "add ticket", "toggeler('add_ticket_link', 'none', 'quick_ticket', 'add ticket', 'cancel')", :id => 'add_ticket_link'
        .clear
        #quick_ticket.hidden
          = render :partial => 'tickets/form', :locals => {:ticket => Ticket.new}


  - unless current_user
    .centered
      .widget{:id => 'login_widget'}
        - form_for UserSession.new do |f|
          - f.error_messages
          %br
          .css_table
            .label= f.label :username
            .value= f.text_field :username
          .css_table
            .label= f.label :password
            .value= f.password_field :password
          .clear
          .login_bttn=f.submit("Login")
          %br
