- project ||= nil

.ticket_form{:style => 'padding:1em;'}
  -form_for ticket do |f|
    = f.error_messages
    - if project && project.is_a?(Project)
      = hidden_field_tag :project_id, project.id
    - else
      %p
        .left.label Ticket for Project:
        .right= select_tag :project_id, options_for_select(current_user.projects.map{|p| [p.name, p.id]})
    .clear
    %p
      .left.label= f.label :title
      .left.with_margin.inline.value= f.text_field :title
      .clear
      .label= f.label :details
      .inline.value= f.text_area :details, {:cols => 60, :rows => 5}

    .right.ticket_submit_button= f.submit "Save"
