.ticket_form
  -form_for ticket do |f|
    = f.error_messages
    = hidden_field_tag :project_id, project.id
    .label= f.label :title
    .value= f.text_field :title

    .ticket_submit_button= f.submit "Save"
