:javascript
  function high_priority(t_id){
    var item = $('#ticket_widget_id_' + t_id)
    item.animate({ backgroundColor: '#c77373'}, 2000 );
  };

  function normal_priority(t_id){
    var item = $('#ticket_widget_id_' + t_id)
    item.animate({ backgroundColor: '#abb4ed'}, 2000 );
  };

  function low_priority(t_id){
    var item = $('#ticket_widget_id_' + t_id)
    item.animate({ backgroundColor: '#abdeeb'}, 2000 );
  };

  function change_priority(t_id){
    var val = $('#change_priority_' + t_id).val()
    url = '/tickets/change_priority'
    data = {id: t_id, priority: val}
    var callback = function (data, textStatus) {
      $('#ticket_id_' + t_id).html(data)
    };
    jQuery.get( url, data, callback, 'html' );
  };

  function change_status(t_id){
    var val = $('#change_status_' + t_id).val()
    url = '/tickets/change_status'
    data = {id: t_id, change_to: val}
    var callback = function (data, textStatus) {
      var type =  $('#ticket_type').val();
      if (type != "All"){
        $('#ticket_widget_id_' + t_id).hide("slow");
      }else{
        $('#ticket_id_' + t_id).html(data)
      };
    };
    jQuery.get( url, data, callback, 'html' );
  };

.widget{:id => "ticket_widget_id_#{ticket.id}"}
  .heading
    .number
      .left
        = "\##{ticket.id}"
        |
      .left{:style => 'margin-left:0.5em;'}
        .small= ticket.created_at.to_date
        .small= ticket.user.username
    .ticket_title
      = ticket.title

    .links
      - opts = ['active', 'closed', 'on hold', 'invalid' ]
      = select_tag "change_priority_#{ticket.id}", options_for_select(["High", "Normal", "Low"], ticket.priority), :onchange => "change_priority('#{ticket.id}')"
      = select_tag "change_status+#{ticket.id}", options_for_select(opts, ticket.status), :onchange => "change_status('#{ticket.id}')"
      |
      = link_to 'Show', ticket_path(ticket)


  .details
    = ticket.details

- if ticket.high_priority?
  = javascript_tag "high_priority('#{ticket.id}')"
- elsif ticket.high_priority.nil?
  = javascript_tag "normal_priority('#{ticket.id}')"
-else
  = javascript_tag "low_priority('#{ticket.id}')"
