:javascript
  function high_priority(t_id){
    var item = $('#ticket_widget_id_' + t_id)
    item.animate({ backgroundColor: '#c77373'}, 2000 );
  };

  function normal_priority(t_id){
    var item = $('#ticket_widget_id_' + t_id)
    item.animate({ backgroundColor: '#abb4ed'}, 2000 );
  };

  function low_priority(t_id){
    var item = $('#ticket_widget_id_' + t_id)
    item.animate({ backgroundColor: '#abdeeb'}, 2000 );
  };

  function change_priority(t_id){
    var val = $('#change_priority_' + t_id).val()
    url = '/tickets/change_priority'
    data = {id: t_id, priority: val}
    var callback = function (data, textStatus) {
      $('#ticket_id_' + t_id).html(data)
    };
    jQuery.get( url, data, callback, 'html' );
  };


.widget{:id => "ticket_widget_id_#{ticket.id}"}
  .heading
    .number
      = "\##{ticket.id}"
      |
      = ticket.created_at.to_date
    .ticket_title
      = ticket.title
      = "-"
      = ticket.status
      = ticket.priority

    .links
      = select_tag "change_priority_#{ticket.id}", options_for_select(["High", "Normal", "Low"], ticket.priority), :onchange => "change_priority('#{ticket.id}')"

      = link_to 'Show', ticket_path(ticket)
      - [('open' if !ticket.active? || ticket.invalid? || ticket.on_hold?), ('close' if ticket.active?), ('hold' unless ticket.on_hold?), ('invalidate' unless ticket.invalid?)].compact.each do |opt|
        = link_to_function opt, "#{opt}_ticket('#{ticket.id}')"

  .details
    = ticket.details
- if ticket.high_priority?
  = javascript_tag "high_priority('#{ticket.id}')"
- elsif ticket.high_priority.nil?
  = javascript_tag "normal_priority('#{ticket.id}')"
-else
  = javascript_tag "low_priority('#{ticket.id}')"
