#tickets_index

  .left
    .hanging_widget
      = link_to_function 'New ticket', "$('#create_ticket').toggle('slow')"
      |
      = link_to "All Tickets", project_tickets_path(@project)
      - types = [:active, :closed, :on_hold, :invalid] - [@ticket_type]
      - links = {:active => link_to("Active", active_tickets_path(:project_id => @project.id)), :closed => link_to("Closed", closed_tickets_path(:project_id => @project.id)), :on_hold => link_to("On hold", on_hold_tickets_path(:project_id => @project.id)), :invalid => link_to("Invalid", invalid_tickets_path(:project_id => @project.id))}
      - types.each do |key|
        |
        = links[key]
      #create_ticket{:style => 'display:none;'}
        = render :partial => 'form', :locals => {:ticket => Ticket.new, :project => @project }

  .left.with_margin
    #sub_heading.title= "#{@ticket_type.nil? ? 'All' : @ticket_type.to_s.titlecase} Tickets for #{@project.name}"
    = hidden_field_tag :ticket_type, @ticket_type.nil? ? 'All' : @ticket_type

  .outer_widget

    .centered
      - @tickets.sort_by{|t| t.created_at}.each do |ticket|
        %div{:id => "ticket_id_#{ticket.id}"}
          = render :partial => 'tickets/widget', :locals => {:ticket => ticket}
