#sub_heading.title= "Tickets for #{@project.name}"

.outer_widget
  .left
    .widget
      = link_to_function 'New ticket', "$('#create_ticket').toggle('slow')"
      #create_ticket{:style => 'display:none;'}
        = render :partial => 'form', :locals => {:ticket => Ticket.new, :project => @project }

  - @tickets.each do |ticket|
    .widget
      .left
        = ticket.number
        = ticket.title
      .right
        = link_to 'Show', ticket_path(ticket)
        = link_to 'Destroy', ticket_path(ticket), :method => :delete
