.hanging_widget
  = link_to_function 'Edit', "edit('#{@ticket.id}')", :id => "edit_ticket_link"
  |
  = link_to 'Back', tickets_path

.clear

#tickets_show
  = hidden_field_tag :ticket_type, 'All'
  .centered
    #ticket_show
      %div{:id => "ticket_id_#{@ticket.id}"}
        = render :partial => 'tickets/widget', :locals => {:ticket => @ticket}
    #update_ticket{:style => 'display:none;', :class => 'widget'}
      = render :partial => 'form', :locals => {:ticket => @ticket, :project => @ticket.project }

    .widget
      This is another widget for something else later (like comments)


:javascript
  function edit(t_id){
    var opt = $('#edit_ticket_link').html();
    if (opt == 'Edit'){
      $('#ticket_widget_id_' + t_id).hide('slow')
      $('#update_ticket').show('slow')
      $('#edit_ticket_link').html('Cancel');
    }else{
      $('#update_ticket').hide('slow')
      $('#ticket_widget_id_' + t_id).show('slow')
      $('#edit_ticket_link').html('Edit');
    };
  };
