-with_info ||= false

.project_form
  -form_for project do |f|
    - unless f.error_messages.empty?
      .form_errors= f.error_messages

    .css_table
      .label= f.label :name
      .value= f.text_field :name
      - unless with_info
        .value
          .project_submit_button= f.submit "Save"
    -if with_info
      .with_margin.label Information
      .with_margin.value= f.text_area :info, :rows => 4, :cols => 60
      .right
        .project_submit_button= f.submit "Update"
