#projects_index
  .left
    .hanging_widget
      = link_to_function 'New project', "$('#create_project').toggle('slow')"
      #create_project{:style => 'display:none;'}
        = render :partial => 'form', :locals => {:project => Project.new }
  .left.with_margin
    #sub_heading.title Listing projects

  .clear
  .outer_widget
    .centered
      - @projects.each do |project|
        .widget
          .heading
            .project_name= project.name
            .links
              = link_to "Tickets (#{project.tickets.count})", project_tickets_path(project)

          .left
            .details
              .date= "Created on: #{project.created_at.to_date}"
          .right
            = link_to 'Show', project_path(project)
            = link_to 'Destroy', project_path(project), :method => :delete
