#project_show
  .hanging_widget
    = link_to 'Projects', projects_path
    |
    = link_to_function "Edit", " toggeler('edit_link', 'show_project', 'update_project', 'Edit', 'Cancel')", :id => "edit_link"


  .outer_widget
    .centered
      #show_project
        .widget
          .heading
            .project_name=h @project.name

          .project_info= @project.info

          .css_table
            .label Tickets:
            .value
              - types = [:active, :closed, :on_hold, :invalid]
              - links = {:active => link_to("Active", active_tickets_path(:project_id => @project.id)), :closed => link_to("Closed", closed_tickets_path(:project_id => @project.id)), :on_hold => link_to("On hold", on_hold_tickets_path(:project_id => @project.id)), :invalid => link_to("Invalid", invalid_tickets_path(:project_id => @project.id))}
              - types.each do |key|
                = "|" unless key.eql?(types.first)
                = links[key]
          .css_table
            .label Users:
            .value
              = @project.users.map{|u| u.username}.and_join

        .clear

      #update_project{:style => 'display:none;', :class => 'widget'}
        = render :partial => 'form', :locals => {:project => @project, :with_info => true}


      - unless @project.requested_users.empty?
        .widget
          The following users want to join this project:
          #request_list
            - @project.requested_users.each do |rec|
              .left
                = rec.user.username
              .right
                = link_to "accept", :controller => 'project_users', :action => 'accept', :id => rec.id
                |
                = link_to "reject", :controller => 'project_users', :action => 'reject', :id => rec.id
              .clear
