#project_show
  .hanging_widget
    = link_to 'Projects', projects_path
    |
    = link_to_function "Edit", " toggeler('edit_link', 'show_project', 'update_project', 'Edit', 'Cancel')", :id => "edit_link"


  .outer_widget
    .centered
      #show_project
        = render :partial => 'projects/show_widget', :locals => {:project => @project}

      #update_project{:style => 'display:none;', :class => 'widget'}
        = render :partial => 'form', :locals => {:project => @project, :with_info => true}


      - unless @project.requested_users.empty?
        .widget
          The following users want to join this project:
          #request_list
            - @project.requested_users.each do |rec|
              .left
                = rec.user.username
              .right
                = link_to "accept", :controller => 'project_users', :action => 'accept', :id => rec.id
                |
                = link_to "reject", :controller => 'project_users', :action => 'reject', :id => rec.id
              .clear
